body{
    font-size:22px; 
    color:black
}
h1,h2{
    color:blue;
}
p{
    color:black;
}
.p1{
    color: gray;
}

#second {
    font-style: italic;
}

.highlight{
    text-transform: uppercase;
    background-color: gold;
}